@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="section">
        <div class="content">
            <img class="sliderleftdec" src="~/image/slider-left-dec.png" />
            <div class="row">
                <div class="col d-flex flex-column justify-content-center">
                    <h1>About Us</h1>
                    <p>
                        An online barber shop is a virtual platform that provides customers with the ability to book appointments with barber shops for haircuts, shaves, and other grooming services. The platform typically has a user-friendly interface that allows customers to search for and choose their preferred barbershop, select a specific date and time for their appointment, and make payments securely online.

                        Customers can browse through the barbershops listed on the platform, view their services and prices, and read reviews from other customers. The platform may also offer features like ratings and reviews for individual barbers, allowing customers to choose a barber based on their skill level and customer feedback.

                        Once the customer has selected their preferred barbershop and chosen an appointment time, they can make a payment online using a secure payment gateway. The platform may also offer the option to reschedule or cancel appointments, with refunds issued in accordance with the barbershop's cancellation policy.

                        Overall, an online barber shop provides customers with a convenient and efficient way to book appointments with barbershops, saving time and hassle compared to traditional walk-in appointments.
                    </p>
                </div>
                <div class="col d-flex vectorfinal2  align-items-center justify-content-center">
                    <img src="~/image/vector51.png" />
                </div>
            </div>
        </div>
    </div>
</div>