.dashboard {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    height: 70vh;
}

.sidebar {
    height: 70vh;
    background-color: darkblue;
}

ul, li {
    list-style-type: none;
    text-decoration: none;
}

.sidebarText {
    color: white;
    padding: 5px 15px;
    margin: 10px;
}
.cards img {
    width: 50px;
}
.cards .content {
    display: inline;
}