@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1>Choose Which User to Login</h1>
    <div>
        <a class="blueBtn" asp-area="Identity" asp-page="/Account/Login">Login as Customer</a>
        <a class="blueBtn" asp-area="" asp-controller="Admin" asp-action="Index">Login as Admin</a>
    </div>
</div>