@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @*section1*@
    <div class="section">
        <div class="content">
            <img class="sliderleftdec" src="~/image/slider-left-dec.png" />
            <div class="row">
                <div class="col d-flex flex-column justify-content-center">
                    <h1>Where Men get ready</h1>
                    <p>A decent haircut boosts a lot of confidence and self esteem.</p>
                    <div class=" d-flex flex-column justify-content-center align-items-center">
                        <a class="blueBtn" asp-controller="Book" asp-action="Index">Book Now</a>
                    </div>
                </div>
                <div class="col d-flex vectorfinal2  align-items-center justify-content-center">
                    <img src="~/image/vectorfinal2.png" />
                </div>
            </div>
        </div>
    </div>
    @*section2*@
    @*<div class="section amazingServices">
    <div class="content">
    <div class="row ">
    <div class="col d-flex flex-column justify-content-center align-items-center">
    <h1>Amazing Services & Features</h1>
    <p class="greyText">Barbershop mainly focuses on customer satifaction ans working on better customer experience</p>
    </div>
    </div>
    </div>
    </div>*@

    @*section3*@
    <div class="section cardsSection">
        <div class="content">
            <div class="row">
                <div class="col cards">
                    <div class="content">
                        <img src="~/image/service-icon-01.png" />
                        <h3>Online Appointments</h3>
                        <p>Let you book appointment online and play the fees at the shop ater the service is done</p>
                    </div>
                </div>
                <div class="col cards">
                    <div class="content">
                        <img src="~/image/service-icon-02.png" />
                        <h3>24/7 Help & Support</h3>
                        <p>Highly trained employees and admin working on the ease of customers and solving problems of customer.</p>
                    </div>
                </div>
                <div class="col cards">
                    <div class="content">
                        <img src="~/image/service-icon-03.png" />
                        <h3>Faster Updates</h3>
                        <p>You will get notified whenever a new appointment is booked, confirmed or cancelled by you.</p>
                    </div>
                </div>
                <div class="col cards">
                    <div class="content">
                        <img src="~/image/service-icon-04.png" />
                        <h3>Professional Stylist</h3>
                        <p>Multiple professional and highly skilled stylist with a great experience waiting for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
